@import '~view-ui-plus/src/styles/index.less';

@primary-color: #206be7;
@secondary-color: #0084ff;
@success-color: #389e0d;
@text-color: #000;
@link-color: @primary-color;
@text-color-secondary: rgba(38, 38, 38, 0.85);
@text-color-third: rgba(38, 38, 38, 0.6);
@text-dark-color: rgba(38,38,38,1);
@border-color-third: rgba(38, 38, 38, 0.07);
@table-td-hover-bg: fade(@primary-color, 5%);